body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #cccccc;
  }
  .text {
    width: 400px;
    min-height: 200px;
    background: #fff;
    padding: 20px 50px 50px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    word-spacing: 8px;
  }
  p {
    margin: 0;
  }
  h1 {
    user-select: none;
    color: green;
  }
  .menu {
    display: none;
    position: absolute;
    background: #a4a4a4;
    border-radius: 6px;
  }
  .menu i {
    color: #000;
    cursor: pointer;
    margin: 8px;
  }
  #output {
    position: absolute;
    opacity: 0.01;
    height: 0;
    overflow: hidden;
  }
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
  }
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .popup-content p {
    font-size: 28px;
    font-weight: bold;
  }